<ion-content class="login-screen ion-padding" [fullscreen]="true">
  <div class="back-button" (click)="prev()">
    <img src="../../../assets/back-btn.svg" alt="Back" />
  </div>

  <div class="login-container">
    <h1>Reset Password</h1>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="login-form">
      
      <div class="input-group password-group">
        <label>New Password <span> *</span></label>
        <div class="password-wrapper">
          <input [type]="showPassword ? 'text' : 'password'" formControlName="newPassword" placeholder="********" />
          <img src="assets/icon/Eye.svg" (click)="togglePassword()" alt="Toggle visibility" />
        </div>
      </div>

      <div class="input-group password-group">
        <label>Retype Password <span> *</span></label>
        <div class="password-wrapper">
          <input [type]="showPassword ? 'text' : 'password'" formControlName="retypePassword" placeholder="********" />
          <img src="assets/icon/Eye.svg" (click)="togglePassword()" alt="Toggle visibility" />
        </div>
      </div>

      <div class="button-group">
        <button
          class="load-button"
          expand="block"
          type="submit"
          [disabled]="isSubmitting"
        >
          <div class="btn-inner">
            <span *ngIf="!isSubmitting">Update Password</span>
            <span *ngIf="isSubmitting" class="spinner spinner-dark spinner-md"></span>
          </div>
        </button>
      </div>
    </form>
  </div>
</ion-content>
